<div class="center-col">
  <router-outlet></router-outlet>
  <!--<app-speed-dial-fab (action)="openDialogNewTransaction($event)"></app-speed-dial-fab>-->
  <app-period-header (periodLoaded)="handlePeriodLoaded($event)"></app-period-header>

  <div class="col" role="main">
    <div class="container-timeline">
      <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: -8px;">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialogIncome()">
          <mat-icon >add</mat-icon>
          <span>Income</span>
        </button>
        <button mat-menu-item (click)="openDialogOutcome()">
          <mat-icon>remove</mat-icon>
          <span>Outcome</span>
        </button>
      </mat-menu>
      <div *ngIf="(transactionsService.transactions | async)?.length === 0" align="center">
        <p>No transactions yet in that month</p>
      </div>
      <ul>
        <li *ngFor="let t of transactionsService.transactions | async">
          <div class="row" (click)="showDetails(t)">
            <div style="float: left" class="full-width">
              <div class="title">{{t.name}}</div>
              <div class="info">{{t.description}}</div>
              <div class="type"><span *ngIf="t.category" style="font-weight: bold"
                                      [ngStyle]="{'color': t.category?.color}">#</span>{{t.category?.name}}
              </div>
            </div>
            <div class="col-amount">
              <div class="amount">$ {{t.amount | onlyInteger }},<span >{{t.amount | onlyDecimalPart}}</span></div>
            </div>
          </div>
          <span (click)="toggleRealized(t)" [appTransactionCircleColor]="t" class="number circle"><span>{{t.date | date: 'dd'}}</span></span>
        </li>
      </ul>
    </div>

  </div>
</div>
