<div style="height:32px; width:auto">
  <button mat-icon-button class="top-left-icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <button [disabled]="loading || !form.valid" class="top-right-icon" type="button" mat-icon-button
          (click)="trySave(form.value)">
    <mat-icon>send</mat-icon>
  </button>
</div>
<h2 mat-dialog-title>{{form.value.type | transactionType}}</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
    <div>
      <mat-form-field class="full-width">
        <input cdkFocusRegionStart matInput placeholder="Transaction name" type="text" formControlName="name">
        <mat-error>
          {{ getError('name') }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Amount" type="text" formControlName="amount">
        <mat-error>
          {{ getError('amount') }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input placeholder="Date" matInput [matDatepicker]="myDatepicker" formControlName="date" (keydown)="false"
               (click)="myDatepicker.open()">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker touchUi="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field hintLabel="select one">
        <mat-select placeholder="Category" formControlName="color"
                    [compareWith]="compareIds">
          <mat-option *ngFor="let c of colors" [value]="color">
            {{ c.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ getError('category') }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox formControlName="realized">Realized</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button *ngIf="form.get('id').value !== ''" type="button" mat-icon-button (click)="tryDelete(form.value)"
          title="Delete transaction">
    <mat-icon>delete</mat-icon>
  </button>
</div>
