<div class="Aligner">
  <div class="Aligner-item column-small">
    <form [formGroup]="registerForm">
      <p class="my-class">M-Mony</p>
      <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email address" type="email" formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
      <button class="full-width" type="submit" mat-flat-button (click)="tryRegister(registerForm.value)">Create account</button>
    </form>
  </div>
</div>
