<header id="header" class="mat-elevation-z1">
<div class="container" style="height: 64px;">
  <nav id="nav">
  <ul>
    <li><a routerLink="/login" class="pointer">Log in</a></li>
    <li><a routerLink="/register" class="pointer">Sign up</a></li>
  </ul>
  </nav>
</div>
</header>
<section style="padding-top: 80px;">
  <div class="container">

    <div class="layout">
      <div  class="col col-main" role="main">
        <h1>Personal Finances App for minimalists</h1>
        <p>
          Just keep track where you're spending your money, no bullshits
        </p>
      </div>

      <p class="col col-complementary" role="complementary">
        <img src="assets/img/piggy.png" >
      </p>

    </div>
  </div>

</section>

