<div class="center-col panel-sticky">
  <div class="Aligner">
    <div style="position: absolute;left: 8px;">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleOpenIncomeDialog()">
          <mat-icon>add</mat-icon>
          <span>Income</span>
        </button>
        <button mat-menu-item (click)="handleOpenOutcomeDialog()">
          <mat-icon>remove</mat-icon>
          <span>Outcome</span>
        </button>
      </mat-menu>
    </div>
    <app-period ></app-period>
  </div>
</div>



